html, body, #root, .app {
	width:100%;
	min-height:100vh;
}
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family-ibmPlex;
	
	background-color: #E5E5E5;
	min-width: 360px;
}

a {
	transition: opacity .5s ease;
}
a, a:hover, a:link {
	color: var(--c-blue01);
	text-decoration: none;
	opacity: 1;
}
a:hover {
	opacity: 0.5;
}
a:focus {
	outline: none;
}
.is-hidden {
	opacity: 0;
	height: 0;
	position: absolute;
	z-index: -1;
}